.shop-section {
  padding: 1rem 3rem;
  max-width: 105rem;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;

  &__container {
    max-width: 85%;
    margin: 0 auto;
  }

  &__heading {
    margin: 0.8rem 0;
  }
}

.esa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 0 2.5rem 0;
}

.esa-box {
  width: 25rem;
  text-align: center;
  padding: 1rem;
  background: transparent;
  transition: all 0.2s;
  border-radius: 10px;

  &:hover {
    -webkit-box-shadow: inset 0px -200px 66px -200px rgba(87, 206, 211, 0.28);
    -moz-box-shadow: inset 0px -200px 66px -200px rgba(87, 206, 211, 0.28);
    box-shadow: inset 0px -200px 66px -200px rgba(87, 206, 211, 0.28);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .link-arrow {
      transform: translateX(0.25rem);
    }
  }

  &__text {
    color: $black;
    margin: 0 0.6rem;
    font-size: 1.2rem;
  }

  .link-icon {
    display: inline-block;
    margin: 0;
    width: 2.5rem;
    height: 3rem;
    background-size: 81.4%;
  }

  .bold {
    font-weight: 500;
    color: $dark-grey;
  }
  sup {
    font-size: 0.75rem;
    padding-right: 5px;
  }
}

.link-arrow {
  transition: all 0.2s;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/icons/icon-arrow-right.png) no-repeat center / 0.9rem;
}

//media
@media only screen and (max-width: 601px) {
  .esa-box {
    padding: 1rem 0;
  }
  .shop-section {
    &__container {
      max-width: 95%;
    }

    &__heading {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
